<div class="wrap">
    <div class="block" *ngFor="let item of products" (click)="productItemClicked(item)">
        <img [hidden]="!imageLoader" class="custom-product-spinner" src="../../../assets//spinners//image.gif" />
        <img [hidden]="imageLoader" [src]="item.game_thumbnail" alt="Image not found" (load)="this.imageLoader = false;"  class="custom-product-image">
        <div class="custom-text-block">
            <h5 class="custom-heading">{{item.game_name}}</h5>
            <h6 class="custom-sub-heading">{{item.game_genre}}</h6>
        </div> 
    </div>
</div>

<sharp-pagination [hidden]="noResultsFound" [pageNumber]="pageNumber" [limit]="limit" (changePage)="onChangePage($event)" [lastNumber]="lastNumber"></sharp-pagination>

<div *ngIf="noResultsFound" class="no-result-found">
    Sorry no results found !
</div>