.wrap
{
  width:1200px;
  flex-flow:row wrap;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
.block
{
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top:25px;
  margin-bottom: 35px; 
  text-align: center;
  cursor: pointer;
}
.custom-product-image {
  width: 210px;
  height: 260px;
  border: 6px solid azure;
  border-radius: 5px;
}

.custom-product-spinner {
  width: 210px;
  height: 260px;
  padding: 70px 53px;
  border: 6px solid azure;
  border-radius: 5px;
}

.custom-sub-heading {
  color: azure;
  font-size: 14px;
}

.custom-heading {
  color: #f91555;
  font-size: 18px;
  margin-bottom: 0px;
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.custom-text-block {
  margin-left:20px;
  margin-top:15px;
  text-align:left;
}

.custom-pagination-block {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 0px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: #f91555;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
  background: #f91555;
}

.my-pagination ::ng-deep .ngx-pagination a, .ngx-pagination button{
  color: azure;
}

.no-result-found {
  color: #f91555;
  text-align: center;
  font-size: 40px;
}

.custom-slash {
  padding: 0px 2px;
}

@media (min-width: 900px) and (max-width: 1299px) { 
  .wrap
  {
    width:900px;
  }
}

@media (min-width: 600px) and (max-width: 899px) { 
  .wrap
  {
    width:600px;
  }
}