.form-wrapper
{
    margin: 30px;
}

.custom-submit-button {
    background:#f91555 ;
    color:azure;
}

.custom-register {
    color: #f91555;
    cursor: pointer; 
}

.register-div {
    margin-top: 20px;
}

.custom-register-alert ::ng-deep .alert{
    margin-top: 15px;
}
