.custom-app-wrapper {
    background-image: url("src/assets/main-wallpaper/main.jpg");
}

.custom-app-inner-wrapper {
    width: 1300px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
}

 @media (min-width: 900px) and (max-width: 1299px) { 
    .custom-app-inner-wrapper {
        width: 900px;
    }
  }

  @media (min-width: 600px) and (max-width: 899px) { 
    .custom-app-inner-wrapper {
        width: 600px;
    }
  }

