.custom-nav-bar {
    color: transparent;
}

.custom-nav-text {
    color: azure !important;
    cursor: pointer;
    font-family: Century Gothic;
}

.custom-nav-text-special {
    color: #f91555 !important;
    font-family: Century Gothic;
}

.custom-nav-text-special:hover {
    color: #f91555;
}

.custom-nav-text:hover {
    color: #f91555 !important;
}

.modal-header {
    background:#f91555 ;
    color:azure;
}

.custom-submit-button {
    background:#f91555 ;
    color:azure;
}

.modal-body {
    padding: 0px;
}
