* {
    box-sizing: border-box;
  }

  .custom-search-form-wrapper {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  form.custom-search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.custom-search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background: #f91555;
    font-family: Century Gothic;
  }
  
  form.custom-search-form button:hover {
    opacity: 0.9;
  }
  
  form.custom-search-form::after {
    content: "";
    clear: both;
    display: table;
  }

  .custom-search-list {
    background: #f1f1f1;
    list-style-type: none;
    position: absolute;
    width: 700px;
    padding-left: 0px;
    margin-top: 47px;
  }
  .custom-search-list li
  {
    padding: 5px 0px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .custom-search-list li:hover
  {
    background: #f91555;
  }

  .search-thumbnail {
    height: 70px;
    width: 70px;
  }

  .dropdowns-wrapper {
    text-align: center;
  }
  .dropdown-items
  {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 30px;
  }

  .text-dropdown{
    color: #f91555;
    font-weight: 700;
  }

  select option {
    background: #f1f1f1;
  }



  @media (min-width: 600px) and (max-width: 899px) { 
    .custom-search-form-wrapper {
        width: 500px;
    }

    .dropdowns-wrapper {
      display: inline-flex;
      margin-top: 15px;
    }

    .dropdown-items {
      margin-top: 10px;
   }
  }